<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= I18n.t("adminuser.item_name") %></th>
      <th><%= I18n.t("adminuser.top_image") %></th>
      <th><%= I18n.t("adminuser.price") %></th>
      <th><%= I18n.t("adminuser.address") %></th>
      <th><%= I18n.t("adminuser.subaddress") %></th>
      <th><%= I18n.t("adminuser.station") %></th>
      <th><%= I18n.t("adminuser.walk_to") %></th>
      <th><%= I18n.t("adminuser.floor_plans") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
          <td><%= link_to item.name, item_path(item.id) %></td>
          <td><%= link_to image_tag(item.image.thumb), item_path(item.id) %></td>
          <td><%= item.price %></td>
          <td><%= item.address %></td>
          <td><%= item.sub_address %></td>
          <td><%= item.station %></td>
          <td><%= item.walk_to %></td>
          <td><%= item.floor_plans %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>

