<%- model_class = Item -%>
<div class="page-header">
  <h1><%#=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="col-md-1"></div>

<div class="col-md-10">

  <ol class="breadcrumb">
    <li><%= link_to "Home", items_path %></li>
    <li class="active"><%= @item.name %></a></li>
  </ol>

  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="panel-title"><%= @item.name %></div>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div class="item-image-body text-center">
          <div class="main-item-image"><%= image_tag @item.image.thumb_bi, id: 'MainPhoto' %></div>
          <div class="sub-item-image">
            <ul class="text-center">
              <% @item.item_images.each do |image| %>
                <div class="item-image-list pull-left">
                  <li><%= image_tag image.image_pass.thumb_sm, class: 'ChangePhoto' %></li>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="item-detail">
          <table class="table table-bordered text-center table-item-detail">
            <tbody>
            <tr>
              <th>価格</th>
              <td><%= @item.price %></td>
              <th></th>
              <td></td>
            </tr>
            <tr>
              <th>敷金</th>
              <td><%= @item.security_deposit %></td>
              <th>礼金</th>
              <td><%= @item.key_money %></td>
            </tr>
            <tr>
              <th>最寄駅</th>
              <td><%= @item.station %></td>
              <th>駅徒歩</th>
              <td><%= @item.walk_to %></td>
            </tr>
            <tr>
              <th>間取り</th>
              <td><% if @item.floor.present? %><%= @item.floor.type %><% end %></td>
              <th>広さ</th>
              <td><%= @item.square_meter %></td>
            </tr>
            <tr>
              <th>設備・その他</th>
              <td><%= @item.equipment %></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <div class="form-group">
            <%= link_to t('戻る'),
                        items_path, :class => 'btn btn-default' %>
            <%= link_to t('お問い合わせ'),
                        new_item_contact_path(params), :class => 'btn btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="col-md-1"></div>




<script>

  $('.ChangePhoto').click(function () {
    var ImgSrc = $(this).attr("src").replace(/sm/g,'bi');
    var ImgAlt = $(this).attr("alt");
    $("img#MainPhoto").attr({src:ImgSrc,alt:ImgAlt});
    $("img#MainPhoto").hide();
    $("img#MainPhoto").fadeIn("slow");
    return false;
  });

</script>